<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageplaza" translate="label" sortOrder="10">
            <label>Mageplaza Gift Card Config</label>
        </tab>
        <section id="giftcard" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Gift Card</label>
            <tab>mageplaza</tab>
            <resource>Mageplaza_GiftCard::giftcard_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enableGiftCard" translate="label" type="select" sortOrder="1" canRestore="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Gift Card</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable giftcard ?</comment>
                </field>

                <field id="giftcard/general/enableUsedCheckOut" translate="label" type="select" sortOrder="2" canRestore="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Allow used Gift Card at Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allow customer use gift code in checkout page ?</comment>
                </field>


                <field id="giftcard/general/enableRedem" translate="label" type="select" sortOrder="3" canRestore="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Redeem Gift Card</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allow customer sent amount of gift code into balance ?</comment>
                </field>
            </group>
            <group id="code" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Code Configuration</label>
                <field id="codelength" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Code Length</label>
                    <validate>validate-number</validate>
                    <comment>Enter Number ?</comment>
                </field>
            </group>
        </section>
    </system>
</config>
