<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="helloworld" id="helloworld">
            <module name="Mageplaza_HelloWorld"/>
        </route>
<!--        <route frontName="helloworld" id="login">-->
<!--            <module name="Mageplaza_HelloWorld" before="Magento_Customer"/>-->
<!--        </route>-->
    </router>
</config>
